{% macro archiveNav(path, nav) %}
  {% set items = nav[path] or [] %}
  {% if items.length %}
  <ul class="list-none pl-0">
    {% for item in items %}
    <li class="border-l-4 border-current pl-2"><a href="{{ item.url }}">{{ item.title }}</a> <span class="font-mono text-xs">({{ item.count }})</span></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}
