fastapi
uvicorn
redis
hiredis
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-fastapi
prometheus-fastapi-instrumentator
fastapi-websocket-pubsub
httpx
pydantic
deprecated
wrapt
pandas
numpy
seaborn
matplotlib
folium
