:root,
html[data-theme="dark"] {
  --color-bg: 18 18 18;
  --color-surface: 35 35 35;
  --color-text: 235 235 235;
  --color-primary: 10 132 255;
  --color-border: 60 60 60;
  --color-code-bg: 40 40 40;
  --color-code-text: 235 235 235;
}

html[data-theme="light"] {
  --color-bg: 245 245 245;
  --color-surface: 230 230 230;
  --color-text: 30 30 30;
  --color-primary: 10 132 255;
  --color-border: 200 200 200;
  --color-code-bg: 235 235 235;
  --color-code-text: 30 30 30;
}
