---
layout: layouts/base.njk
---
{% from "components/list-item.njk" import listItem %}

<p class="text-base-content/80">{{ sections[section].intro }}</p>
<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-6 items-stretch" data-section="{{ section }}">
  {% for item in collections[section] %}
    {% if item.url != page.url %}
      {{ listItem(item) }}
    {% endif %}
  {% endfor %}
</div>
