---
layout: "base.njk"
metaDisable: true
showTitle: false
permalink: "/work/index.html"
eleventyExcludeFromCollections: true
---

<main class="container-fluid px-6 sm:px-8 space-y-16">
  {% include "components/work-feed.njk" %}
  <p class="text-right">
    <a class="link" href="/work/1/">Browse all →</a>
  </p>
</main>
<script type="module" src="{{ '/assets/js/work-filters.js' | url }}"></script>
