---
title: "Meta"
layout: "layout.njk"
permalink: "/meta/index.html" # <-- Add or modify this line for correct URL
eleventyNavigation:
  key: Meta
  parent: Showcase # Adjust parent as needed for your navigation
---
{% from "components/list-item.njk" import listItem %}

<p>This section contains information about the lab itself, its purpose, and related administrative details.</p>
<ul class="space-y-4">
{% for item in collections.meta %}
  {% if item.url != page.url %}<li>{{ listItem(item) }}</li>{% endif %}
{% endfor %}
</ul>