---
title: "Meta"
layout: "layout.njk"
permalink: "/meta/index.html" # <-- Add or modify this line for correct URL
eleventyNavigation:
  key: Meta
  parent: Showcase # Adjust parent as needed for your navigation
---
{% from "components/tile.njk" import tile %}

<p>This section contains information about the lab itself, its purpose, and related administrative details.</p>
<ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
{% for item in collections.meta %}
  {% if item.url != page.url %}<li>{{ tile(item) }}</li>{% endif %}
{% endfor %}
</ul>