---
layout: "layout.njk"
pagination:
  data: collections.monstersProducts
  size: 1
  alias: product
permalink: "{{ '/archives/collectables/designer-toys/pop-mart/the-monsters/products/' + product.data.product_id + '/index.html' }}"
---
{% from "components/products/SpecSheet.njk" import specSheet %}
{% from "components/products/MarketTable.njk" import marketTable %}
{% from "components/products/ProvenanceList.njk" import provenanceList %}
{% from "components/products/MetaNotes.njk" import metaNotes %}
{% from "components/products/Badges.njk" import characterBadge %}
<h1 class="text-2xl font-bold mb-2">{{ product.data.product_id }}</h1>
{{ characterBadge(product.data.character) }}
{{ specSheet(product.data) | safe }}
{% if product.data.market_listings %}
  {{ marketTable(product.data.market_listings) | safe }}
{% endif %}
{{ metaNotes(product.data) | safe }}
{% set sources = product.data.provenance_ref | provenanceSources %}
{{ provenanceList(sources) | safe }}
