---
title: "Projects"
layout: "layouts/collection.njk"
section: "projects"
permalink: "/projects/index.html" # <-- Add or modify this line
eleventyNavigation:
  key: Projects
  parent: Showcase # If you use parent for navigation hierarchy
---
