---
title: "Projects"
layout: "layout.njk"
permalink: "/projects/index.html" # <-- Add or modify this line
eleventyNavigation:
  key: Projects
  parent: Showcase # If you use parent for navigation hierarchy
---
{% from "components/list-item.njk" import listItem %}

<p>This is the central hub for all projects explored within the lab.</p>
<ul class="space-y-4">
{% for item in collections.projects %}
  {% if item.url != page.url %}<li>{{ listItem(item) }}</li>{% endif %}
{% endfor %}
</ul>