---
title: "Concepts"
layout: "layout.njk"
permalink: "/concepts/index.html" # <-- Add or modify this line
eleventyNavigation:
  key: Concepts
  parent: Showcase
---
{% from "components/list-item.njk" import listItem %}

<p>This is the central hub for all individual concepts explored within the lab.</p>
<ul class="space-y-4">
{% for item in collections.concepts %}
  {% if item.url != page.url %}<li>{{ listItem(item) }}</li>{% endif %}
{% endfor %}
</ul>
