---
layout: base.njk
title: "Redirecting…"
showTitle: false
metaDisable: true
---


{% set redirectUrl = redirect | default('/') %}
{% set siteUrl = (metadata and metadata.site and metadata.site.url) or '' %}
{% set canonicalHref = redirectUrl %}
{% if canonicalHref and '://' not in canonicalHref and siteUrl %}
{% set canonicalHref = canonicalHref | absoluteUrl(siteUrl) %}
{% endif %}


{% block headExtra %}
{% if canonicalHref %}
<link rel="canonical" href="{{ canonicalHref }}" data-vite-ignore>
{% endif %}
<meta name="robots" content="noindex">
<meta http-equiv="refresh" content="0; url={{ canonicalHref or redirectUrl }}" data-vite-ignore>
{% endblock headExtra %}


<p aria-live="polite" class="opacity-80">
Redirecting to
<a class="link link-hover" href="{{ redirectUrl }}">{{ redirectUrl }}</a>…
</p>


<!-- markup-fmt-ignore -->
<script>
(function () {
var u = {{ redirectUrl | dump | default('""') }};
if (!u) return;
try { location.replace(u); } catch (_) { location.href = u; }
})();
</script>


<noscript>
<meta http-equiv="refresh" content="0; url={{ redirectUrl }}">
</noscript>