---
layout: base.njk
showTitle: false
metaDisable: true
eleventyComputed:
  headExtra: |
    <meta http-equiv="refresh" content="0; url={{ redirect }}">
    <link rel="canonical" href="{{ redirect }}">
    <meta name="robots" content="noindex">
title: "Redirecting…"
---

<p>
  Redirecting to <a class="link link-hover" href="{{ redirect }}">{{ redirect }}</a>…
</p>
<script>try { location.replace({{ redirect | dump }}); } catch(_) {}</script>
