---
layout: "layout.njk"
pagination:
  data: collections.monstersProducts
  size: 1
  alias: product
permalink: "/collectibles/designer-toys/pop-mart/the-monsters/products/{{ product.data.product_id }}/index.html"
---
<h1 class="text-2xl font-bold mb-2">{{ product.data.product_id }}</h1>
<p class="mb-4">Form: {{ product.data.form }} | Release: {{ product.data.release_date }}</p>
